<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404 Not found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

</head>
<body>
    <h1>undefined is, unfortunately, not a function</h1>
    <p>You just 404'd. Maybe you should head back to the <a href="/">homepage</a>.</p>
    <script></script>
    
</body>
</html>